@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
/* 
================
Dark / Light Mode 
================*/
/* genral */
body {
  background-color: var(--light-color);
  color: var(--text-dark-color);
}

:root {
    /* ===== Colors ===== */
  --primary-color: #1f6feb;
  --secondary-color: #601cfc;
  --light-color: #f0f0f0;
  --dark-color: #000016;
  --text-light-color: #ffffff;
  --text-dark-color: #000000;
  --icons-color: #cccccc;
  /* project-cards-border*/
  --card-border-color: #f0f0f0;

  /* ===== Gradients ===== */
  --gradient-main: linear-gradient(#00bbff, #005eff);

  /* ===== Shadows ===== */
  --shadow-main: 5px 5px 10px rgba(1, 1, 1, 0.5);
  --shadow-stronge: 2px 2px 20px 10px rgba(0, 68, 255, 0.4);
  --shadow-box-n: 0 0 20px 10px rgba(0,0,0,0.6);
  /* ===== Radius ===== */
  --radius-sm: 6px;
  --radius-md: 15px;
  --radius-lg: 20px;
  --radius-circle: 50%;
}

body.dark {
  /* ===== Colors ===== */
  --primary-color: #90caf9;
  --secondary-color: #1f6feb;
  --light-color: #1e1e1e;
  --dark-color: #000000;
  --text-light-color: #ffffff;
  --text-dark-color: #ffffff;
  --icons-color: #1f6feb;
  /* project-cards-border*/
  --card-border-color: #333333;

  /* ===== Gradients ===== */
  --gradient-main: linear-gradient(#1f6feb, #0d419d);
}

/* Section */
section {
  padding: 100px 200px;
}
/* Scroll-button */
#scrollTopBtn {
  position: fixed;
  bottom: 90px;
  right: 15px;
  padding: 12px 15px;
  font-size: 15px;
  border: none;
  border-radius: var(--radius-circle);
  background: var(--gradient-main);
  color: var(--text-light-color);
  cursor: pointer;
  display: none;
  z-index: 1000;
  box-shadow: var(--shadow-main);
  transition: 0.3s ease;
}

#scrollTopBtn:hover {
  transform: scale(1.1);
}

/* ================
    Header section
   ================ */
header {
  background-color: var(--light-color);
  width: 100%;
  position: fixed;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  box-shadow: var(--shadow-main);
}
.logo {
  text-decoration: none;
  color: var(--primary-color);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.8em;
}
/* dark mode button */
#theme-switch {
  width: 40px;
  height: 40px;
  background: var(--icons-color);
  border-radius: var(--radius-circle);
  cursor: pointer;
  position: relative;
  border: 1px solid var(--text-dark-color);
  transition: background-color 0.5s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
}
.moon-toggle {
  display: none;
}
#theme-switch svg {
  display: block;
}
.left,
.right {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* menu-button */
.menu-btn {
  display: none;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  transition: transform 0.2s ease;
}
.menu-btn svg {
  width: 30px;
  height: 30px;
  display: block;
}

/* navigation */
.navigation {
  display: flex;
  align-items: center;
}
.right .navigation .close-btn {
  display: none;
  position: absolute;
  top: 10px;
  right: 10px;

  width: 30px;
  height: 30px;

  border: none;
  border-radius: var(--radius-sm);
  padding: 0;
  cursor: pointer;
}
.navigation a {
  color: var(--primary-color);
  text-decoration: none;
  font-size: 1.1em;
  font-weight: 700;
  padding: 10px 15px;
}
.navigation a:hover {
  color: var(--secondary-color);
}
/* ================
    Main Section
   ================ */
.main {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  background: url(images/background.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.main h2 {
  color: var(--text-light-color);
  font-size: 1.4em;
  font-weight: 700;
  text-shadow: 4px 4px 4px black;
}
.main h2 span {
  display: inline-block;
  margin-top: 10px;
  color: var(--primary-color);
  font-size: 3em;
  font-weight: 700;
  text-shadow: 4px 4px black;
}
/* Typing Animation / Typewriter Effect */
#typing::after {
  content: "|";
  animation: blink 1s infinite;
}
@keyframes blink {
  0%,50%,100% { opacity: 1; }
  25%,75% { opacity: 0; }
}
.main h3 {
  color: var(--text-light-color);
  font-size: 2em;
  font-weight: 700;
  letter-spacing: 1px;
  margin-top: 10px;
  margin-bottom: 30px;
}
.main-btn {
  color: var(--text-light-color);
  background: var(--gradient-main);
  text-decoration: none;
  font-size: 1.1em;
  font-weight: 600;
  padding: 0.9375em 2.1875em;
  letter-spacing: 1px;
  border-radius: var(--radius-md);
  width: 50%;
  margin: auto;
  text-align: center;
  transition:
    0.4s ease,
    color 0.4s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: var(--shadow-box-n); 
}
.main-btn:hover {
  transform: scale(1.05);
  box-shadow: var(--shadow-stronge);
}
.my-photo img {
  width: 280px;
  height: 280px;
  object-fit: cover;
  border-radius: var(--radius-circle);
  border: 5px solid var(--card-border-color);
  box-shadow: var(--shadow-box-n);
  transition: 0.3s ease;
  margin-left:70px;
}
.my-photo img:hover {
  transform: scale(1.05);
  box-shadow: var(--shadow-stronge);
  filter: brightness(1.1);
} 
/* ================
    Skills section
   ================ */
.title {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  font-size: 2.2em;
  font-weight: 800;
  margin-bottom: 30px;
}
.content {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.card {
  background: linear-gradient(#00bbff54, #005eff62);
  flex: 1 1 calc(33.333% - 40px);
  min-width: 250px;
  max-width: 350px;
  box-shadow: var(--shadow-main);
  border-radius: var(--radius-lg);
  padding: 25px;
  margin: 15px;
  transition: 0.3s ease;
}
.card:hover {
  transform: scale(1.1);
  filter: brightness(1.2);
}
.icon {
  color: var(--primary-color);
  font-size: 8em;
  text-align: center;
}
.info {
  text-align: center;
}
.info h3 {
  color: var(--primary-color);
  font-size: 1.2em;
  font-weight: 700;
  margin: 10px;
}
/* ================
    Projects section
   ================ */
.project-card {
  background: linear-gradient(#00bbff54, #005eff62);
  flex: 1 1 calc(33.333% - 40px);
  min-width: 250px;
  max-width: 350px;
  box-shadow: var(--shadow-main);
  border-radius: var(--radius-lg);
  padding: 25px;
  margin: 15px;
  transition: 0.3s ease;
}
.project-card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.project-card:hover {
  transform: translateY(-8px);
  box-shadow: var(--shadow-box-n);
  filter: brightness(1.1);
}
.project-tech {
  margin: 15px 0;
  display: flex;
  align-items: center;
  gap: 5px;
  flex-wrap: wrap; 
}
.project-tech .tech-label {
  margin: 0;
  font-size: 20px;
  font-weight: bold;
}
.project-tech span {
  background: var(--secondary-color);
  color: var(--text-light-color);
  padding: 5px 5px;
  border-radius: 6px;
  font-size: 15px;
}
.project-image img {
  width: 100%;
  box-shadow:0px 5px 10px black ;
}
.project-info {
  padding: 0.7em;
}
.projects .project-title {
  text-transform: uppercase;
  font-weight: 800;
  margin-bottom: 6px;
}

/* buttons */
.project-links {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}
.btn {
  text-decoration: none;
  padding: 8px 14px;
  border-radius: 6px;
  font-size: 14px;
  transition: 0.3s;
}
.github {
  background: #000;
  color: var(--text-light-color);
}
.demo {
  background: var(--primary-color);
  color: var(--text-light-color);
}
.btn:hover {
  opacity: 0.8;
}

/* ================
    about me section
   ================ */
.about h2{
  text-align: center;
  color: var(--primary-color);
  font-size: 2.2em;
  font-weight: 800;
  margin-bottom: 30px;
}
.about-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
  max-width: 1000px;
  margin: auto;
}
.about-text h3 {
  margin-bottom: 10px;
}
.about-text p {
  line-height: 1.6;
}
.about-text {
  max-width: 500px;
  margin-bottom: 20px;
}
/* about image */
.about-img {
  flex: 1;
  display: flex;
  justify-content: center;
}
.about-img img {
  max-width: 300px;
  aspect-ratio: 1/1;
  border-radius: var(--radius-sm);
  box-shadow: 0 0 20px 10px rgba(0,0,0,0.6);
  transition: 0.3s ease;
}
.about-img img:hover{
  transform: scale(1.05);
  box-shadow: var(--shadow-stronge);
}

/* about buttons */
.cv-button {
  display: flex;
  margin-top: 30px;
}
.cv-button .btn {
  color: var(--text-light-color);
  background: var(--gradient-main);
  text-decoration: none;
  font-size: 1.1em;
  font-weight: 600;
  padding: 0.7em 1.5em;
  letter-spacing: 1px;
  border-radius: var(--radius-md);
  width: 70%;
  margin: auto;
  text-align: center;
  transition:
    0.4s ease-in-out,
    color 0.4s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: var(--shadow-main); 
}
.cv-button .btn:hover {
  transform: scale(1.05);
  box-shadow: var(--shadow-stronge);
}

 
/* ================
    Contact section
   ================ */
.contact{
  background-color: var(--light-color);
}
.content .icon {
  font-size: 4.5em;
}
.contact .info h3 {
  color: var(--text-dark-color);
}
.contact .info a {
  font-size: 1.2em;
  text-decoration: none;
  color: var(--text-dark-color);
}
/* Footer */
.footer {
  background-color: var(--dark-color);
  color: var(--text-light-color);
  padding: 1.5em;
  display: flex;
  justify-content: space-between;
}
.footer-title {
  font-size: 1.2em;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer .social-icons a {
  color: var(--text-light-color);
  font-size: 1.5em;
  padding: 15px;
}
.footer .social-icons a:hover {
  color: var(--secondary-color);
}
/* ============== 
  Media Queries
============== */

/* labtob */
@media (min-width: 1024px) {
  .projects .content {
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
  }
  .project-card {
    max-width: 350px;
    width: 100%;
  }
}

/* labtob mini */
@media (max-width: 1024px) {
  header {
    padding: 12px 20px;
  }
  #scrollTopBtn {
    position: fixed;
    bottom: 60px;
    right: 15px;
  }
  .menu-btn {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  /* Navbar */
  .navigation {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100vh;
    background-color: var(--dark-color);
    transform: translateX(-100%);
    transition: transform 0.3s ease;
    flex-direction: column;
    padding-top: 50px;
  }
  .right .navigation .close-btn {
    display: block;
  }
  .navigation.open {
    transform: translateX(0);
  }
  .navigation a {
    display: block;
    width: 100%;
    padding: 15px 20px;
    color: var(--text-light-color);
    transition: background-color 0.3s ease;
  }
  .navigation a:hover {
    background-color: var(--primary-color);
    color: var(--text-light-color);
  }
  .title {
    font-size: 1.8em;
  }
  section {
    padding: 80px 20px;
  }
  .main-content h2 {
    font-size: 1em;
  }
  .main-content h3 {
    font-size: 1.6em;
  }
  .content {
    align-items: center;
  }
}
/* Tablet */
@media (max-width: 768px) {
    body {
    font-size: 13px;
  }
  #theme-switch {
    width: 32px;
    height: 32px;
  }
  #theme-switch svg {
    width: 20px;
    height: 20px;
  }
  .main {
    flex-direction: column-reverse;
  }
  .main h2 span {
    font-size: 2.3em;
  }
  .main-content h2 {
    font-size: 1em;
  }
  .main-content h3 {
    font-size: 1.4em;
  }
  .about-container {
    flex-direction: column;
  }
  .footer {
  margin-bottom: 0;
  }
  .footer-title {
    font-size: 1em;
  }
  .footer .social-icons {
    font-size: 1em;
  }
}
/* Mobile */
@media (max-width: 500px) {
  body {
    font-size: 12px;
  }
    .main h2 span {
    font-size: 2em;
  }
  .content {
    flex-direction: column;
  }
  .footer {
    padding: 10px;
    flex-direction: column;
    gap: 10px;
    text-align: center;
  }
  .footer-title {
    font-size: 0.8em;
    white-space: nowrap;
  }
  .footer .social-icons {
    font-size: 1em;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
}
/* theme-icon */
body.dark .sun-toggle {
  display: none;
}
body.dark .moon-toggle {
  display: block;
}
body.dark .menu-btn {
  color: white;
}
