@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/*  Scroll-button */
#scrollTopBtn {
  position: fixed;
  bottom: 50px; 
  right: 15px;
  padding: 12px 15px;
  font-size: 20px;
  border: none;
  border-radius: 50%;
  background: linear-gradient(#00bbff, #005eff);
  color: white;
  cursor: pointer;
  display: none; /* مخفي في البداية */
  z-index: 1000;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  transition: 0.3s;
}

#scrollTopBtn:hover {
  transform: scale(1.1);
}


/* Header */
header {
  background-color: #f0f0f0;
  width: 100%;
  position: fixed;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}
.logo {
  text-decoration: none;
  color: #3a6cf4;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.8em;
}
/* dark mode button */
#theme-switch{
  width: 40px;
  height: 40px;
  background-color: #ccc;
  border: #000016 solid 2px;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  transition: background-color 0.5s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
}
.moon-toggle {
  display: none;
}
#theme-switch svg {
  display: block;
}
/* menu-button */
.menu-btn{
  display: none;
}
/* navigation */
.navigation {
  display: flex;
  align-items: center;
}
.navigation a {
  color: #3a6cf4;
  text-decoration: none;
  font-size: 1.1em;
  font-weight: 700;
  padding: 10px 15px;
}
.navigation a:hover {
  color: #601cfc;
}
/* Section */
section {
  padding: 100px 200px;
}
/* Main */
.main {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  background: url(images/programming.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.main h2 {
  color: hsl(0, 0%, 100%);
  font-size: 1.4em;
  font-weight: 700;
  text-shadow: 4px 4px 4px black;
}
.main h2 span {
  display: inline-block;
  margin-top: 10px;
  color: #4e9eff;
  font-size: 3em;
  font-weight: 700;
  text-shadow: 4px 4px black;
}
.main h3 {
  color: #fff;
  font-size: 2em;
  font-weight: 700;
  letter-spacing: 1px;
  margin-top: 10px;
  margin-bottom: 30px;
}
.main-btn {
  color: #f0f0f0;
  background:linear-gradient(#00bbff,#005eff);
  text-decoration: none;
  font-size: 1.1em;
  font-weight: 600;
  display: inline-block;
  padding: 0.9375em 2.1875em;
  letter-spacing: 1px;
  border-radius: 15px;
  width: 50%;
  margin: auto;
  text-align: center;
  transition:  0.4s ease, color 0.4s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.493); /* ظل خفيف */
}
.main-btn:hover {
  background-color: #0949fc;
  transform: scale(1.05);
   box-shadow: 0 0 20px 10px rgba(0, 68, 255, 0.4); /* ظل أعمق عند hover */
}
/* Skills */
.tittle {
  display: flex;
  justify-content: center;
  color: #3a6cf4;
  font-size: 2.2em;
  font-weight: 800;
  margin-bottom: 30px;
}
.content {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.card {
  background:linear-gradient(#00bbff54,#005eff62);
  flex: 1 1 calc(33.333% - 40px);
  min-width: 250px;
  max-width: 350px;
  box-shadow: 0 5px 25px rgba(1 1 1/ 15%);
  border-radius: 20px;
  padding: 25px;
  margin: 15px;
  transition: 0.3s ease;
}
.card:hover {
  transform: scale(1.1);
}
.icon {
  color: #3a6cf4;
  font-size: 8em;
  text-align: center;
}
.info {
  text-align: center;
}
.info h3 {
  color: #3a6cf4;
  font-size: 1.2em;
  font-weight: 700;
  margin: 10px;
}
/* Projects */
.projects {
  background-color: #020253;
}
.projects .content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* الأعمدة تتغير أوتوماتيك */
  gap: 20px; /* مسافات بين الكروت */
  margin-top: 20px;
  justify-items: center; /* دي اللي هتخلي الكروت تتوسط فعلاً */
}
.project-card {
  background-color: #fff;
  border: 3px solid #f0f0f0;
  min-height: 14em;
  width: 100%;
  max-width: 350px;
  overflow: hidden;
  border-radius: 20px;
  margin: 5px;
  transition: 0.3s ease-in-out;
}
.project-card:hover {
  transform: scale(1.1);
}
.project-card:hover .pimage {
  opacity: 0.9;
}
.project-image img {
  width: 100%;
}
.project-info {
  padding: .7em;
}
.project-tittle {
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  font-weight: 800;
}
.watch {
  text-decoration: none;
  color: #3a6cf4;
}
.watch:hover {
  color: #601cfc;
}
/* Contact */
.content .icon {
  font-size: 4.5em;
}
.contact .info h3 {
  color: #000016;
}
.contact .info a {
  font-size: 1.2em;
  text-decoration: none;
  color: #000016;
}
/* Footer */
.footer {
  background-color: #000016;
  color: #fff;
  padding: 1.5em;
  display: flex;
  justify-content: space-between;
}
.footer-title {
  font-size: 1.5em;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-title span {
  color: #3a6cf4;
}
.footer .social-icons a{
  color: #fff;
  font-size: 1.5em;
  padding: 13px;
}
.footer .social-icons a:hover{
color: #601cfc;
}
/* Media Queries */

/* labtob */
@media (min-width: 1024px) {
  .projects .content {
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
  }
  .project-card {
    max-width: 350px;
    width: 100%;
  }
}
/* labtob mini */
@media (max-width: 1024px) {
  header {
    padding: 12px 20px;
  }
  .menu-btn{
  display: block;
  }
  .navigation a {
    padding-left: 10px;
    display: none;
  }
  .tittle {
    font-size: 1.8em;
  }
  section {
    padding: 80px 20px;
  }
  .main-content h2 {
    font-size: 1em;
  }
  .main-content h3 {
    font-size: 1.6em;
  }
  .content {
    /* flex-direction: column; */
    align-items: center;
  }
}
/* tablet */
@media (max-width: 768px) {
  body {
    font-size: 12px;
  }
  .navigation a {
    padding: 5px 5px;
    text-align: left;
    width: 100%;
    font-size: 1em;
  }
  #theme-switch {
  flex-shrink: 0;
  }
    #theme-switch {
    width: 32px;
    height: 32px;
  }
  #theme-switch svg {
    width: 20px;
    height: 20px;
  }
  .main-content h2 {
    font-size: 0.8em;
  }
  .main-content h3 {
    font-size: 1.4em;
  }
  .footer{
    padding: 0.8em;
  }
  .footer-title {
    font-size: 1em;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
  }
  .footer .social-icons {
    font-size: 0.9em;
    padding: 0 4px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
/* mobile */
@media (max-width: 480px) {
  body {
    font-size: 12px;
  }
  .content {
    flex-direction: column;
    align-items: center;
  }
  .footer{
    padding: 0.8em;
  }
  .footer-title {
    font-size: 0.7em;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
  }
}

/* 
================
Dark / Light Mode 
================*/
/* header */
body.dark {
  background-color: #121212;
  color: #ffffff;
}
body.dark a {
  color: #90caf9;
}
body.dark header {
  background-color: #1e1e1e;
}
/* project-cards*/
body.dark .project-card {
  background-color: #1e1e1e;
  border-color: #333;
}
/* buttons */
body.dark .main-btn,
body.dark #scrollTopBtn{
  background: linear-gradient(#1f6feb, #0d419d);
  color: #ffffff;
}
body.dark .navigation a:hover,
body.dark .card h3,
body.dark .card p, 
body.dark .card a{
  color: #e0e0e0;
}
/* footer */
body.dark .footer {
  background-color: #000;
  color: #ccc;
}
body.dark #theme-switch {
  background-color: #1f6feb;
}
body.dark .sun-toggle {
  display: none;
}
body.dark .moon-toggle {
  display: block;
}